/*@font-face {
  font-family:"Lab Grotesque";
  src:url("f/LabGrotesque-Regular.woff2")format("woff2"),url("f/LabGrotesque-Regular.woff")format("woff");
  font-weight:normal;font-display:swap;font-style:normal
}*/

html {-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;font-size:1.1rem}
html,button,label{font-family:'arial', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}
body {margin:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
address{font-style:normal}

button,.btn{margin:0;padding:0;border:0;background-color:#e5e5e5;-webkit-appearance:button;transition:transform linear .1s}
button:active{transform:scale(.96)}

.in,nav ul li{display:inline-block}
.db{display:block}
.dn,.pc-hide,footer .parent ul{display:none!important}
.fx{display:flex}
.fw{flex-wrap:wrap}
.ac{align-items:center}
.fafs{align-items:flex-start}
.jc{justify-content:center}
.fsb{justify-content:space-between}
.fsa{justify-content:space-around}
.jce{justify-content:end}
.fdc{flex-direction:column}
.gap3{gap:3rem}
.gap1{gap:1rem}
.gap\.5{gap:.5rem}
.gap\.3{gap:.3rem}
.fcfe{justify-content:flex-end}
.fafe{align-items:flex-end}
.fx1\.1\.60{flex:1 1 60%}
.fx1\.1\.100{flex:2 1 100%}
.fx2\.1\.60{flex:2 1 60%}
.fasc{align-self:center}
.fdrr{flex-direction:row-reverse}

.pr,.cardIcn{position:relative}
.pa,.p0{position:absolute}
.pf{position:fixed}
.pst0{position:sticky;top:0}
.p0{top:0;right:0;bottom:0;left:0}
.cp,button{cursor:pointer}
.z-1{z-index:-1}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.ovh{overflow:hidden}
.ova{overflow:auto}
.ovy{overflow-y:auto;overflow-x:hidden}
.br10{border-radius:10rem}
.br,.btn,pre{border-radius:2rem}
.br\.2{border-radius:.2rem}
.bgf{background-color:#fff}
.bgr{background-color:#ff2727}
.bgb{background-color:#4f7196}
.tc,.mobmenu li{text-align:center}
.tl{text-align:left}
.tj{text-align:justify}
.cf{color:#fff}
.c0{color:#000}
.cbl,nav.nav ul li a{color:#78ade6}
.mr1{margin-right:1rem}
.mr4{margin-right:4rem}
.mr-025{margin-right:.25rem}
.ml1{margin-left:1rem}
.ml4{margin-left:4rem}
.mt\.5{margin-top:.5rem}
.mt0{margin-top:0}
.mt2{margin-top:2rem}
.mt3{margin-top:3rem}
.my0{margin-top:0;margin-bottom:0}
.my1{margin-top:1rem;margin-bottom:1rem}
.my2{margin-top:2rem;margin-bottom:2rem}
.my4{margin-top:4rem;margin-bottom:4rem}
.mt6{margin-top:6rem}
.mx\.3{margin-left:.3rem;margin-right:.3rem;}
.mlra{margin-left:auto;margin-right:auto}
.mb6{margin-bottom:6rem}
.mb2{margin-bottom:2rem}
.mb1\.4{margin-bottom:1.4rem}
.mb0{margin-bottom:0}
.m0a{margin:0 auto}
.m0{margin:0!important}
.tu{text-transform:uppercase}
.tn{text-transform:none}
.gry{color:#666777}
.fs0{font-size:0}
.fs\.85{font-size:.825rem}
.fs1{font-size:1rem}
.fs1\.2{font-size:1.2rem}
.fs1\.4{font-size:1.4rem}
.fs1\.6{font-size:1.6rem}
.fs1\.8{font-size:1.8rem}
.lh1{line-height:1}
.lh2{line-height:2}
.br0{border:0}
.ns,button,h1,h2,h3,h4,h5,p,label,ul li,a,span,strong{user-select:none}
.vam{vertical-align:middle}
.vas{vertical-align:sub}
.wsnw{white-space:nowrap}

.bb0{border-bottom:0!important}

.blurred{backdrop-filter:blur(11px)}
.o0{opacity:0}
.o0\!{opacity:0!important}
.invert{filter:invert(1)}

.p4{padding:.5rem}
.p1{padding:1rem}
.p3{padding:3rem}
.pr1{padding-right:1rem}
.pl1{padding-left:1rem}
.py1{padding:1rem 0}
.py2{padding-top:2rem;padding-bottom:2rem}
.px1{padding:0 1rem}
.px\.25{padding-left:.25rem;padding-right:.25rem}
.px4{padding-left:4rem;padding-right:4rem}
.px8{padding-left:8rem;padding-right:8rem}
.py6{padding:6rem 0}
.pt\.5{padding-top:.5rem}
.pt1\.5{padding-top:1.5rem}
.pt4{padding-top:4rem}
.pt8{padding-top:8rem}
.fwb{font-weight:bold}
.mv70{max-width:70%}
.cr{color:red}
.ct{color:transparent}
.bx{box-sizing:border-box}
.w1,video{width:100%}
.wmc{width:max-content}
.mwmc{min-width:max-content}
.mh1{min-height:100%}

.leftTxt{writing-mode:vertical-lr;text-orientation:upright}
.bgHF{background-color:rgb(255 255 255 / 96%)}
.bgSF{background-color:rgb(255 255 255 / 64%)}
.bgS0{background-color:rgb(59 59 59 / 64%)}
.bgBB{background-color:rgb(47 60 74 / 99%)}
.bxsh{box-shadow:0 3px 15px #1c252f}
.hideIn{position:fixed;top:0;left:0;transform:translateX(-100vw);width:1px;height:1px;overflow:hidden}

img{border-style:none;width:100%;height:auto;margin:0;padding:0}

q:after,q:before{content:''}
a{color:#f5f5f5;border:0;text-decoration:none}
.blog a,.breadcrumb a{border-bottom:.1rem solid}
h1,h2,h3,h4{font-family:'Lab Grotesque','arial', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-weight:bold}

h1{font-size:1.1rem}
h2{font-size:1.06rem}
h3{font-size:1rem}
h4{font-size:.96rem}

ul{margin:0;padding:0}
ul li{list-style:none}
/*table*/
.td{overflow:auto;max-height:50vh}
.td i{padding:0 5px 0 0}
.t{overflow:auto;display:table;width:100%}
.tr{display:table-row}
.tr:last-child{box-shadow:none}
.tr div:first-child{min-width:11.5rem}
.tr div:last-child{width:100%;vertical-align:middle}
.t_{display:table-cell;padding:1px 4px}
.td .tr .t_:first-child strong{vertical-align:super}
/*\table*/

ul.mod-menu{display:flex;gap:1rem;align-items:center}
ul.mod-menu li a{font-size:1.2rem;color:#000;text-transform:uppercase}
ul.mod-menu li{position:relative}
ul.mod-menu li:after,ul.mod-menu li.current.active:after{content:'';position:absolute;bottom:-.5rem;left:0;width:1.75rem;height:.2rem;background-color:#272f76;transition:width cubic-bezier(.64,.09,.24,1.1) .26s,background-color linear .3s;border-radius:.3rem}
ul.mod-menu li:after{width:0}
/*ul.mod-menu li:hover:after,ul.mod-menu li.current.active:hover:after{width:3.75rem}*/
ul.mod-menu svg{width:2rem;margin-right:.3rem;fill:#272f76}

.logo span{font-size:.455rem;line-height:1.2}
.logo h4{margin:0 0 .5rem 0;font-size:.455rem;font-weight:normal}

.btn svg{width:2rem}

header.header{position:sticky;top:0;padding:.3rem;background-color:transparent;transition:backdrop-filter linear .36s,background-color linear .2s,color linear .6s,transform linear .24s}
header.header a{transition:color linear .6s}
header.header svg{transition:fill linear .6s}
header.header.headerCl{backdrop-filter:blur(.7rem);background-color:rgb(47 60 74 / 69%);color:#fff;transform:translateY(-9%)}
header.header.headerCl a{color:#fff}
header.header.headerCl ul.mod-menu li:after, header.header.headerCl ul.mod-menu li.current.active:after{background-color:#ccc}
header.header.headerCl svg{fill:#fff}
header.header .container{transition:transform linear .24s}
/*header.header .btn,header.header .btn a{color:#000}
header.header.headerCl .btn,header.header.headerCl .btn a{color:#000}*/
header.header img{max-width:1.3rem;filter:brightness(6)}
/*https://github.com/NickPiscitelli/Glider.js*/
.glider,.glider-contain{margin:0 auto;position:relative}.glider,.glider-dot,.glider-next,.glider-prev{border:0;padding:0;user-select:none}.glider-contain{width:100%}.glider{overflow-y:hidden;-webkit-overflow-scrolling:touch;-ms-overflow-style:none}
.glider-track{width:100%;margin:0 4rem 0 0;padding:0;display:flex;gap:.5rem;transform:translateZ(0)}
.glider.draggable{margin:0;box-sizing:border-box;user-select:none;cursor:grab}.glider.draggable .glider-slide img{user-select:none;pointer-events:none}.glider.drag{cursor:grabbing}.glider-slide{user-select:none;width:100%;min-width:150px}.glider::-webkit-scrollbar{opacity:0;height:0}
.glider-next,.glider-prev{position:absolute;top:-1rem;right:-3rem;background-color:#0046AE;width:3rem;height:3rem;border-radius:.25rem;z-index:2;font-size:0}
.glider-next span{position:absolute;top:50%;left:50%;width:13px;height:13px;border-radius:0 0 3px 0;box-shadow:2px 2px #fff;transform:translate(-70%,-50%)rotate(-45deg)}
.glider-hide{opacity:0}.glider-dots{user-select:none;display:flex;flex-wrap:wrap;justify-content:center;margin:0 auto;padding:0}.glider-dot{display:block;cursor:pointer;color:#ccc;border-radius:999px;background:#ccc;width:12px;height:12px;margin:7px}.glider-dot:focus,.glider-dot:hover{background:#ddd}.glider-dot.active{background:#a89cc8}@media(max-width:36em){.glider::-webkit-scrollbar{opacity:1;-webkit-appearance:none;width:7px;height:3px}.glider::-webkit-scrollbar-thumb{opacity:1;border-radius:99px;background-color:rgba(156,156,156,.25);-webkit-box-shadow:0 0 1px rgba(255,255,255,.25);box-shadow:0 0 1px rgba(255,255,255,.25)}}
.slide:nth-child(odd){background-color:#51ADFF}
.slide:nth-child(even){background-color:#4FD8C3}
.slider_ .slide{border-radius:2rem;background-color:#496687}
.slider_ .slide a{border:0}


#mod-custom111{margin-left:1rem;width:56%}

.bg-img{top:0;right:0;left:0;transform:translateZ(0);border-radius:0 0 7% 7%;box-sizing:border-box}

.catHeader a{color:#fff}
.catHeader.mainpage a,.catHeader a.c0{color:#fff}
.mobmenu{z-index:10;padding:1rem 1rem 3rem 1rem;box-sizing:border-box;backdrop-filter:blur(11px);transition:transform ease-in .35s}
.mobmenu ul{flex-direction:column;gap:2rem;list-style:none;padding:0 0 2rem 0}
.mobmenu svg{margin-right:.3rem;flex:0 0 30%;max-width:2.71rem;fill:#fff;width:2.71rem}
.mobmenu ul .mob-hide{display:block}
.mobmenu p{margin:0;align-items:start;align-self: start;text-align:left}
  /*.mobmenu li*//* a*//*,.mobmenu .mbli a{box-sizing:border-box;justify-content:flex-start;padding:.6rem 1rem;border:0;background-color:#fff;border-radius:.2rem;box-shadow:0 3px 6px -2px #181138;width:100%}*/
.mobmenu div a{margin-top:.75rem;display:flex}
.mobmenu .btn.fasc.mr1{display:none}
.mobmenu [data-load="email"]{display:flex}
.mobmenu a[href^="tel"] svg{display:none}
.mobmenu a[href^="tel"] span{margin:0;font-size:inherit}
.mobmenu .parent ul{margin:1rem 0 1rem .5rem}
.mobmenu .parent ul li a{display:block}
.mobmenu li a[rel^="noopener"]{display:block}
.btn-opnSubMnu{top:0;right:0;line-height:3;padding:0.1rem;width:2rem;border-radius:0 .2rem .2rem 0}
.btn-opnSubMnu div{font-size:1.9rem;line-height:1.57}
.mod-menu__sub .btn-opnSubMnu div{font-size:1.5rem;line-height:1.57}
.btn-opnSubMnu div{transition:transform .25s}
.btn-opnSubMnu div.clcl{transform:rotate(45deg)}
.mobmenu .mod-menu__sub a{padding:.3rem}
.mod-menu__sub svg{vertical-align:middle;filter:grayscale(1)}

.mobmenu .parent ul.mod-menu__sub{margin:.2rem 0 0 .5rem;transition:height linear .6s}

.anm,.an-queue{will-change:transform}
.an-tr10{transform:translateY(10%)}

.cardIcn:after{content:'';position:absolute;z-index:-1;top:-1.7rem;right:-1.7rem;bottom:-1.7rem;left:-1.7rem;border-radius:50%;background-image:radial-gradient(50% 50% at 69.48% 64%, #51749a 0%, #4b6a8c 100%)}

footer ul.mod-menu{flex-wrap:wrap;gap:2rem}

.ts0{text-shadow:none}
.ts1\.000{text-shadow:0 0 1rem #000,1px 1px 2px #000}
.animm{animation:z3 linear .6s}
@keyframes z3 {0%{opacity:0;transform:translateY(-10%)}}
.animm2{animation:z4 linear .6s reverse}
@keyframes z4 {0%{opacity:0;transform:translateY(-10%);height:0}}

body{overflow:hidden;display:flex;justify-content:center;flex-direction:row-reverse}
.mobmenu a{color:#fff;font-size:.9rem}
.mobmenu{max-height:100vh;overflow:auto;flex:1 3 30%;background-color:rgb(57 62 70 / 95%)}
.mobmenu p q:first-child{margin-bottom:.4rem}
.mobmenu p q:last-child{color:#ccc;font-size:.68rem}
.mainContent{max-height:100vh;overflow:auto;flex:1 1 100%;background-color:#2F3C4A;color:#fff;scroll-behavior:smooth;}
.mobmenu li{margin:0 1.2rem 1rem 1.2rem;padding:.1rem 0 0 0}
/*.loadPrdctLogo{transition:opacity linear .3s;opacity:0}
.headerCl .loadPrdctLogo{opacity:1}*/
/*.mobmenu .fx.ac{flex-direction:column}*/
.mobmenu ul li svg{align-self:start}

main{font-size:.76rem}

.loadPrdctLogo{font-size:.87rem}
.loadPrdctLogo button.cf.btn{font-size:1.06rem;font-weight:bold;padding:0.3rem 1.2rem}

@media (max-width:1440px){
  .mob-invert{filter:invert(1)}
}
@media (max-width:1024px){
  .mobMCl{transform:translateX(-110%)}
  .mob-fsa{justify-content:space-around}
  .mob-fw{flex-wrap:wrap}
  .pc-hide,.mobmenu .mob-hide{display:block!important}
  .mob-fx{display:flex!important}
  .mob-hide,.glider-next{display:none!important}
  .glider.draggable{margin:0}
  .mobmenu{position:absolute;left:0;width:70vw}
  .mobmenu li a{padding:.6rem}
  .mobmenu .fx.ac.clsBtn{flex-direction:inherit}
  .mobmenu .fx.ac.clsBtn svg{max-width:1.7rem}
  .t{display:block}
  .tr,.tr div:first-child,.tr div:last-child{display:block;box-sizing:border-box;width:100%}
  .catHeader h1{font-size:2.4rem}
  h2{font-size:1.6rem}
  h3{font-size:1.27rem}
  h4{font-size:1.24rem}
  h1{font-size:1.2rem}
  .logo .ml1{margin-left:.2rem}
  .header{padding:.3rem 0}
  .goToFree{margin-left:auto;margin-right:auto}
  .mob-mb1\.4{margin-bottom:1.4rem}
  .catHeader,.mob-pddg{padding:.3rem}
  .mob-p4{padding:.32rem}
  .mob-pt0{padding-top:0}
  .bg-img{top:3.8rem}
  .mob-mt0{margin-top:0}
  .mob-ml0{margin-left:0}
  .mob-mr0{margin-right:0}
  .wmc {width:auto}
  .goToFree{padding:1rem}
  .menuBtn{font-size:1.1rem}
  .slide{min-width:47vw}
  .mob-pt0{padding-top:0}
  .slider,.slider_,.sliderDi,.css-scroll{scroll-behavior:smooth;scroll-snap-type:x mandatory}
  .slide,.css-scroll .tabTabCl{scroll-snap-align:center}
  .mob-tj0{text-align:left}
  .slider{overflow-y:hidden}
}
@media (max-width:768px){
  .catHeader .blurred{margin-top:16rem;padding:1rem .5rem;background-color:transparent}
  .catHeader h1{font-size:1.9rem}
  .catHeader.h1{min-height:100%}
  .catHeader li svg{filter:invert(1)}
  .catHeader.h1{min-height:99vh}
  video.z-1{min-height:100%;object-fit:cover}
  video.br10{border-radius:0}
  .slide a{color:#fff}
  .slide{min-width:85vw}
  body.ovh{margin-right:0!important}
  .tabs ul{gap:0}
  .mob-invert768{filter:invert(1)}
  .mob-fx-r{display:flex;flex-direction:column-reverse}
  .catHeader ul li,ul.fs1\.2 li,.tabs .fs1\.2{font-size:1rem!important}
}
@media (max-width:425px){
  .catHeader .ts0{padding:1rem}
  .catHeader h1{font-size:1.5rem}
  h2{font-size:1.3rem}
  .catHeader ul li{font-size:1.1rem}
  .catHeader .p3{padding:1rem}
  .mobmenu{padding:1rem 1rem 7rem 1rem}
  .mobmenu li{padding-left:0}

  nav.nav{padding:.5rem}
}
@media (prefers-color-scheme:dark) {

}
